*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100%;
  width: 100%;
  background: url("images/background-blurred.png");
  background-size: cover;
}

.header {
  height: 10vh;
  width: 100%;
  background-color: #f570ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.main-title {
  font-family: "Tulpen One", sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 6vh;
}

.item-container {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow-y: scroll;
}

.item-card {
  width: 300px;
  height: 250px;
  background-color: white;
  font-family: "Saira Extra Condensed", sans-serif;
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid #f570ff;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-heading {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.item-info {
  display: flex;
  align-items: space-between;
}

.item-photo {
  height: 120px;
  width: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: 1px solid #707070;
}

.item-photo img {
  height: 120px;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.item-description {
  line-height: 100%;
  text-align: center;
  margin-left: 5px;
  margin-bottom: 20px;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-btn {
  border-radius: 50%;
  background-color: #a300ff;
  border: none;
  height: 20px;
  width: 20px;
  color: white;
  margin: 0 10px;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}

.quantity-btn:hover {
  cursor: pointer;
  background-color: #f570ff;
}

.quantity {
  color: #650062;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 700px) {
  .main-title {
    font-size: 8vh;
  }

  .item-container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 30px;
    justify-content: center;
  }

  .item-card {
    margin: 0;
    height: 350px;
    width: 250px;
    justify-content: flex-start;
    position: relative;
  }

  .item-info {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .item-photo {
    height: 150px;
    width: 200px;
  }

  .item-photo img {
    height: 150px;
  }

  .item-details {
    width: 100%;
    font-size: 1.2em;
  }

  .item-description {
    margin: 15px 3px 0 3px;
  }

  .quantity-container {
    position: absolute;
    bottom: 15px;
  }
}

@media (min-width: 700px) and (orientation: landscape) {
  .header {
    justify-content: center;
  }
}
